.presentation-container {
    background: linear-gradient(to right, rgb(65, 126, 123), rgb(0, 110, 153));
    height: 350px;
}

.presentation-container .presentation-image img {
    width: 900px;
    height: 100%;
}

.filters {
    text-align: center;
}

.filters .filter {
    margin: 5px 0;
}

.filters select {
    width: 300px;
    height: 25px;
}

.filters button {
    background-color: rgb(26, 129, 0);
    color: #fff;
    border: none;
    padding: 7px;
}

.technology-card {
    background-color: rgba(48, 0, 80, .3);
    box-shadow: .5px .5px .5px .5px rgba(20, 20, 20, .4);

    width: 300px;
    height: 360px;
    text-align: center;
    padding: 10px;
}


.about p {
    width: 700px;
    text-align: center;
    margin: 2px auto;
}

@media screen and (max-width: 768px) {
    .presentation-container .presentation-image img {
        width: 100%;
    }

    .about p {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    * {
        font-size: 15px;
    }
}